N8N Telegram.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        -80
      ],
      "id": "a50ceb34-9209-4f07-9e3e-f8192cdc3c1f",
      "name": "Telegram Trigger",
      "webhookId": "7ed0e5b5-60f8-4ad8-9101-f80d6acc606a",
      "credentials": {
        "telegramApi": {
          "id": "2UdbzTlxJkKQU8X3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful agent that replies with jokes and emojis.\n\n{{ $('Telegram Trigger').item.json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -112,
        -80
      ],
      "id": "4038cd84-88c4-4992-aaba-2e5e412716c4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        128
      ],
      "id": "69b4ed9b-25f7-4410-8952-1a1aa5fd74f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qgPRwYnABJfGRZHp",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -80
      ],
      "id": "a4d89aab-937c-4668-a9c6-644e43cf24f8",
      "name": "Send a text message",
      "webhookId": "5575b392-a051-46de-9f6e-3d1069dd358e",
      "credentials": {
        "telegramApi": {
          "id": "2UdbzTlxJkKQU8X3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        -80
      ],
      "id": "78ebe593-7efe-457b-95af-69e091ac6030",
      "name": "Send a chat action",
      "webhookId": "3b7ba88a-8477-42c3-a5a5-faba40119887",
      "credentials": {
        "telegramApi": {
          "id": "2UdbzTlxJkKQU8X3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        128
      ],
      "id": "58754074-7ff5-49cf-9ea4-db12abd7c435",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        128,
        128
      ],
      "id": "851d92f1-5f1a-4660-bbee-cd3146a2931a",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "VxO4UnOEvCAOpe34",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60e725f2-cc1f-40d7-8a11-72198432e4d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04e3d4314276c8204ec2aabec2c33b6f371e91e1ff9e231fae293b4ac319e3d0"
  },
  "id": "poBSYUWCYpKIoCYB",
  "tags": []
}